body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.section {
    height: 500px;
    padding: 150px;
}

.home-tittle {
    width: 50%;
    margin-left: 70px;
    margin-top: 30px;
}

.about-tittle {
    width: 50%;
    margin-top: 10px;
    padding: 10px;
}

.img-width {
    width: 50%;
}

.img-width img {
    width: 100%;
}

.display {
    display: flex;
}

.orange-color {
    color: orange;
}

a {
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 165, 0), rgba(255, 105, 6));
    padding: 10px 40px;
    border-radius: 20px;
}

.About-me {
    height: 500px;
    padding-top: 100px;
    background-image: url(shapes/Frame\ 58.jpg);
}

.item-list {
    display: flex;
    padding: 20px;

}



.item-img {
    width: 80%;
}

.item-1,
.item-2,
.item-3 {
    width: 33.33%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10%;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 40px;
    padding-top: 40px;
}

.item-tittle {
    text-align: center;
}

.item-tittle h1 {
    font-weight: 700;
    font-size: 30px;
}

.footer-section {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    line-height: 4px;
    height: 200px;
}

.footer-section h1 {
    padding-top: 30px;
}

ul {
    display: inline-block;
}

li {
    display: inline;
}

