body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.section {
    height: 500px;
    padding: 150px;
}

.home-tittle {
    width: 50%;
    margin-left: 70px;
    margin-top: 30px;
}

.home-img {
    width: 50%;
}

.home-img img {
    width: 100%;
}

.home {
    display: flex;
}

.orange-color {
    color: orange;
}

.home-tittle a {
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 165, 0), rgba(255, 105, 6));
    padding: 10px 40px;
    border-radius: 20px;
}